* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Share Tech", sans-serif;
}

body {
  background-image: url(assets/—Pngtree—rectangular\ lottery\ drum\ on\ white_5785919.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}

img {
  height: 300px;
  width: 300px;
}
h1 {
  font-size: 80px;
  color: black;
  text-align: center;
  line-height: 38px;
  margin-top: 126px;
  margin-bottom: 26px;
}
.result-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
}
input {
  background: rgb(216, 216, 216);
  border: 1px solid rgb(216, 216, 216);
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 15px;
  height: 75px;
  width: 342px;
  padding-left: 20px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  opacity: 0.7;
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.input-min {
  margin-right: 62px;
  margin-bottom: 100px;
  text-align: center;
}

p {
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 400;
}

.button-generate {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background: rgb(139, 175, 84);
  width: 342px;
  height: 75px;
  border: none;
  font-size: 30px;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.8;
}
